<div class="page">
    <div class="form">
        <form class="ngform" style="width: 600px">
            <h3>Add new Certificate</h3>
            <br>
            <input type="text" placeholder="Common name" [(ngModel)]="requestCertificate.issuedToCommonName" id="commonname" name="commonname" style="width: 300px" required>
            <input type="text" placeholder="Surname" [(ngModel)]="requestCertificate.surname" id="surname" name="name" style="width: 300px" required>
            <input type="text" placeholder="Given name" [(ngModel)]="requestCertificate.givenName" id="givenName" name="givenname" style="width: 300px" required>
            <input type="text" placeholder="Name of organisation" [(ngModel)]="requestCertificate.organisation" id="organisation" name="organisation" style="width: 300px" required>
            <input type="text" placeholder="Organisation unit" [(ngModel)]="requestCertificate.organisationalUnit" id="unit" name="organisationunit" style="width: 300px" required>
            <input type="text" placeholder="Country" [(ngModel)]="requestCertificate.country" name="country" id="country" style="width: 300px" required>
            <input type="text" placeholder="Email" [(ngModel)]="requestCertificate.email" name="email" id="email" style="width: 300px" required>
            <br>
            <hr style="border-color:yellow; border-width: 2px;">
            <br>
            <h5>Validation period</h5>
            <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
            </ngb-datepicker>
            
            <ng-template #t let-date let-focused="focused">
              <span class="custom-day"
                    [class.focused]="focused"
                    [class.range]="isRange(date)"
                    [class.faded]="isHovered(date) || isInside(date)"
                    (mouseenter)="hoveredDate = date"
                    (mouseleave)="hoveredDate = null">
                {{ date.day }}
              </span>
            </ng-template>

            <br>
            <br>
            <div> 
                <h5>Certificate type</h5><select name="typeSelect" [(ngModel)]="requestCertificate.certificateDto.certificateType" id="type" >
                    <option value="ROOT">root</option>
                    <option value="INTERMEDIATE">intermediate</option>
                    <option value="END_ENTITY">end entity</option>
                </select>
            </div>

            <!-- Issuer serial number -->
            <!-- Issuer name -->
            <br>
            <br>
            <div> 
                <h5>Issuer</h5><select name="issuerSelect" id="issuer" [(ngModel)]="issuerMod">
                    <option *ngFor="let issuer of issuers">{{issuer.owner}} {{issuer.serialNumber}}</option>
                </select>
            </div>

            <br>
            <hr style="border-color:yellow; border-width: 2px;">
            <br>
            <input type="password" [(ngModel)]="requestCertificate.keystorePassword" placeholder="KeyStore password" name="password" style="width: 300px" required>

            <br><br>
            <button class="btn btn-warning" style="width: 200px" (click) = "addNewCertificate()">Save</button>
        </form>
    </div>
</div>
