<div class="page">
    <div class="form">
        <form class="ngform" style="width: 600px">
            <h3>Add new Certificate</h3>
            <br>
            <input type="text" placeholder="Common name" name="commonname" style="width: 300px" required>
            <input type="text" placeholder="Surname" name="name" style="width: 300px" required>
            <input type="text" placeholder="Given name" name="givenname" style="width: 300px" required>
            <input type="text" placeholder="Name of organisation" name="organisation" style="width: 300px" required>
            <input type="text" placeholder="Organisation unit" name="organisationunit" style="width: 300px" required>
            <input type="text" placeholder="Country" name="country" style="width: 300px" required>
            <input type="text" placeholder="Email" name="email" style="width: 300px" required>
            <input type="text" placeholder="Key usage" name="keyUsage" style="width: 300px" required>

            <br>
            <hr style="border-color:yellow; border-width: 2px;">
            <br>
            <h5>Validation period</h5>
            <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
            </ngb-datepicker>
            
            <ng-template #t let-date let-focused="focused">
              <span class="custom-day"
                    [class.focused]="focused"
                    [class.range]="isRange(date)"
                    [class.faded]="isHovered(date) || isInside(date)"
                    (mouseenter)="hoveredDate = date"
                    (mouseleave)="hoveredDate = null">
                {{ date.day }}
              </span>
            </ng-template>

            <br>
            <br>
            <div> 
                <h5>Certificate type</h5><select name="typeSelect" >
                    <option *ngFor="let type of types">{{type}}</option>
                </select>
            </div>

            <!-- Issuer serial number -->
            <!-- Issuer name -->
            <br>
            <br>
            <div> 
                <h5>Issuer</h5><select name="issuerSelect" >
                    <option *ngFor="let issuer of issuers">{{issuer.owner}} {{issuer.serialNumber}}</option>
                </select>
            </div>

            <br>
            <hr style="border-color:yellow; border-width: 2px;">
            <br>
            <input type="password" placeholder="KeyStore password" name="password" style="width: 300px" required>

            <br><br>
            <button class="btn btn-warning" style="width: 200px">Save</button>
        </form>
    </div>
</div>
