<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">
            <img src="assets/certificate.png" width="30" height="30" alt="" />
        </a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'/addCertificate'" routerLinkActive="active">Create certificate</a>
            </li>
        </ul>
    </div>
</nav>

