<table *ngIf="!seeDetails" class="table">
    <thead>
      <tr>
        <th scope="col">Serial number</th>
        <th scope="col">Owner</th>
        <th scope="col">Issuer serial</th>
        <th scope="col">Validation period</th>
        <th scope="col">Certificate type</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of certificates; index as i;">
        <td>{{c.serialNumber}}</td>
        <td>{{c.owner}}</td>
        <td>{{c.issuerSerial}}</td>
        <td>{{c.validFrom}}  -  {{c.validTo}}</td>
        <td>{{c.certificateType}}</td>
        <td><button class="btn btn-light" (click)="revoke(i)">❌</button></td>
        <td><button class="btn btn-secondary" (click)="details(i, c)">Details</button></td>
        <td><button class="btn btn-info" (click)="download(i)">Generate PDF</button></td>
      </tr>
    </tbody>
</table>
<div class="page" *ngIf="seeDetails">
  <div class="form">
    <form class="ngform">
        <h4>Public key:</h4>
        <pre>{{publicKey}}</pre>
        <br>
        <h4>Certificate chain: </h4>
            <div *ngFor="let cer of chain; let i = index;">
              <li style="list-style-type: none;font-size: 18px;">{{cer}}</li>
            </div>
            <br>
        <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
    </form>

  </div>
</div>