<div class="page">
    <div class="form">
        <form class="ngform" style="width: 600px; margin-top: 150px;">
            <h2><b>SecuritySystem</b></h2>
            <p><i>Need to secure your communication? You're in the right place!</i></p>
            <br>
            <input type="text" placeholder="Username" [(ngModel)]="loginDto.username" id="username" name="username" style="width: 300px" required>
            <input type="password" placeholder="Password" [(ngModel)]="loginDto.password" id="pass" name="pass" style="width: 300px" required>
            <br><br>
            <button class="btn btn-warning" style="width: 300px" (click) = "login()">Login</button>
            <br>
            <a href="#" [routerLink]="'/registration'">Don't have an account? Sign up!</a>
        </form>
    </div>
</div>
