<div class="page">
    <div class="form">
        <form class="ngform" style="width: 600px">
            <h3>Certificate checker</h3>
            <br>
            <div>
                <div >
                <select name="typeSelect" [disabled]="isChecked">
                    <option *ngFor="let c of certificates">{{c.owner}} [{{c.serialNumber}}] --- {{c.certificateType}}</option>
                </select>
                </div>
                <p style="font-size: 11px; color: red;">Subject name  [serial number]  ---  certificate type</p>
                <br>
                <button class="btn btn-warning" style="width: 200px" (click)="checkCertificate(false)" [disabled]="isChecked">Check</button>
            </div>
            <div *ngIf='isChecked'>
                <hr style="border-color:yellow; border-width: 2px;">
                <br>
                <button class="btn btn-warning" style="width: 200px" (click)="checkCertificate(true)">Check another one</button>
            </div>
            
            
        </form>
    </div>
</div>
